body {
    background: #1E1E1F;
}

.titulo_pagina {
    position: relative;
    width: 0 auto;
    text-align: center;
    margin: 0 auto;
    
}

#logo_medium {
    padding-left: 90%;
}

h1 {
    position: relative;

    color:  #9CD33B;
    font-family: "Fjalla One";
    
}

#textos {
    position: relative;
    height: 500px;

}

#descricao{
    position: relative;
    padding-top: 1%;
    width: 0 auto;
    text-align: center;

    font-family: "Fjalla One";
    font-weight: 50;
    color: #D9D9D9;
    
}

h2 {
    position: relative;
    padding-top: 3%;
    width: 0 auto;
    text-align: center;

    font-family: "Fjalla One";
    color: #D9D9D9;
    
}


