body {
    background: #1E1E1F;
}

.titulo_pagina {
    position: relative;
    width: 0px;
    margin: 0 auto;
    
}

h1 {
    position: relative;

    color:  #9CD33B;
    font-family: "Fjalla One";

}



main {
    position: relative;
    padding-left: 10%;
    margin: 0 auto;
}

img{
    position: relative;
    margin: 0 auto;
    padding-left: 10%;


}

form {
    margin: 40px 0;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

    color: #D9D9D9;
}

form input{
    display: block;
    font-size: 20px;
    margin: 0 0 20px;
    width: 90%;
}

#mensagem {
    height: 300px;
}