body {
    background: #1E1E1F;
}


main {
    position: relative;
    padding-left: 10%;
    margin: 0 auto;
}

#titulo_pagina{
    margin: auto;
    padding-right: 10%;
    
}

h1 {
    color:  #9CD33B;
    font-family: "Fjalla One";
    text-align: center;
}



#logos{
    width: 1024px;
    margin: 10px auto;
}

#logo_linkedin{
    position:relative;
    left:20%;
}

#logo_twitter{
    position:relative;
    left:40%;
}


form {
    padding-top: 1%;
    width: 1024px;
    margin: 0 auto;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

    color: #D9D9D9;
}

form input{
    display: inline;
    font-size: 20px;
    margin: 0 0 20px;
    width: 90%;
}

#nome {
    box-shadow: 10px 5px 0 black;
    border-radius: 20px;
}

#email {
    box-shadow: 10px 5px 0 black;
    border-radius: 20px;
}

#mensagem {
    height: 150px;
    box-shadow: 10px 5px 0 black;
    border-radius: 20px;
}



#button{
    box-shadow: 10px 5px 0 black;
    background: #9CD33B;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    width: 940px;
}
