body {
    background: #1E1E1F;
}

.titulo_pagina {
    position: relative;
    width: 0px;
    margin: 0 auto;
    
}

h1 {
    position: relative;

    color: #D9D9D9;
    font-family: "Fjalla One";
    

}

.resumo {
    position: relative;
    height: 0 auto;
    
}

.texto_resumo {
    
    position: absolute;
    width: 644px;
    height: 400px;
    left: 120px;
    top: 50px;
    
    font-family: "Inter";
    font-style: normal ;
    font-weight: 100;
    font-size: 18px;
    color: #D9D9D9;

}

#foto_resumo {
    position: relative;
    top: 0px;
    left: 755px;

}

.texto_objetivo {
    position: absolute;

    left: 850px;
    top: 500px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #D9D9D9;

}


.principais_ferramentas {
    position: relative;
    width: 400px;
    margin: 0 auto;
    
}

h2 {
    color: #D9D9D9;
    font-family: "Fjalla One";
    text-align: center;
    
}

.powerbi_logo{
    margin-right: 50px
}
.python_logo{
    margin-right: 50px
}