body {
    background: #1E1E1F;
}

.titulo_pagina {
    margin: auto;
    padding-right: 10%;
    
}

h1 {
    color:  #9CD33B;
    font-family: "Fjalla One";
    text-align: center;

}


.resumo {
    position: relative;
    height: 0 auto;

}

#foto_resumo {
    height: 30em;
    position: absolute;
    right: 0;
    margin: auto; 

}

.texto_resumo {
    
    position: absolute;
    width: 760px;
    height: 400px;
    left: 120px;
    top: 50px;
    
    font-family: "Inter";
    font-style: normal ;
    font-weight: 100;
    font-size: 18px;
    color: #D9D9D9;

}

.texto_objetivo {
    position: absolute;
    left: 70%;
    padding-top: 25%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #D9D9D9;

}


.principais_ferramentas {
    position: relative;
    top: 300px;
    width: 1080px;
    margin: 0 auto;
    
}

h2 {
    color: #D9D9D9;
    font-family: "Fjalla One";
    font-size: 18px;
    text-align: left;
    
}

.powerbi_logo{
    margin-right: 50px
}
.python_logo{
    margin-right: 50px
}