body {
    background:#1e1e1f;
    height: auto;

}

nav {
        text-align: right;
}

h1 {
    color: #D9D9D9;
    font-family: "Fjalla One";
    font-size: 3em;
    padding-left: 30%;
}

a {
    color: #D9D9D9;
    font-family: "Fjalla One";
    font-size: 1.5em;
    font-weight: 400;
    margin-right: 0.75em;
    padding: 1em;
    text-decoration: none;

}

a:hover {
    color: #9CD33B;
}

.home p {
    color:  #9CD33B;
    font-family: "Fjalla One";
    font-size: 2em;
    padding-left: 60%;
}

.home img {
    height: 25em;
    left: 0;
    margin: auto;
    
}



#sobre{
    height: 1000px auto;
}

h2 {
    color: #9CD33B;
    font-family: "Fjalla One";
    font-size: 2em;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    position: relative;
    width: 0 auto;
}

#intro_sobre {
    height: 700px;
    margin: 0 auto;
    position: relative;
    width: 0 auto;
}

#descricao_sobre{
    color: #D9D9D9;
    font-family: "Fjalla One";
    font-size: 1em;
    font-weight: 50;
    margin: 5%;
    position: relative;
    text-align: center;
    
}

#subtitulo{
    color: #9CD33B;
    font-family: "Fjalla One";
    font-size: 1.5em;
    margin: 3% auto;
    position: relative;
    text-align: center;
    width: 0 auto;

}

#texto_subtitulo{
    color: #D9D9D9;
    font-family: "Fjalla One";
    font-size: 1em;
    font-weight: 50;
    margin-top: 1%;
    position: relative;
    text-align: center;
    
}

#blog{
    display: block;
    height: 700px;
    margin: 5% auto;
}

h3 {
    color: #9CD33B;
    font-family: "Fjalla One";
    font-size: 2em;
    margin: 5% auto;
    text-align: center;
    position: relative;
    width: 0 auto;
    
}


#textos {
    position: relative;
    margin: 0 auto;
    width: 0 auto;

}

#descricao_blog{
    color: #D9D9D9;
    font-family: "Fjalla One";
    font-weight: 50;
    position: relative;
    text-align: center;
    
}

#apresentacao_blog {
    color: #D9D9D9;
    font-family: "Fjalla One";
    position: relative;
    text-align: center;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-gap: 4em;
    width: 0 auto;
}

.grid img{
    align-items: center;
    border-radius: 5%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.grid p{
    color: #D9D9D9;
    font-family: "Fjalla One";
    font-size: 0.5em;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 0 auto;
}


#contato{
    height: 700px;
}

h4 {
    color: #9CD33B;
    font-family: "Fjalla One";
    font-size: 2em;
    margin: 12% auto;
    margin-top: 5% auto;
    position: relative;
    text-align: center;
    width: 0 auto;
    
}

.logos{
    align-items: center;
    display: flex;
    justify-content: center;
    margin:auto;
    position:absolute;
    text-align:center;
    width: 99%;
}

.logos img {
    width: 5em;
    
}


@media (min-width:600px){
    body {
        font-size:18px;
    }
}

@media screen and (max-width:480px){
    #foto_home{
        height: 30em;
        margin: auto;
        position: fixed;
    }
}


