body {
    background: #1E1E1F;
}


h1 {
    font-size: 68px;
    color: #D9D9D9;
    padding-left: 400px;
    font-family: "Fjalla One";
    
}

h2 {
    font-size: 38px;
    color:  #9CD33B;
    padding-left: 1400px;
    font-family: "Fjalla One";
}

p {
    font-size: 26px;
    padding-left: 1400px;
    color:  #9CD33B;
    font-family: "Fjalla One";
}

nav {
    text-align: right;
}

a {
    color: #D9D9D9;
    padding: 24px;
    font-size: 36px;
    font-weight: 400;
    font-family: "Fjalla One";
    text-decoration: none;
    margin-right: 30px;
}

a:hover {
    color: #9CD33B;

}

#foto_home {
    position: absolute; 
	top: 400px;
}